.App {
  font-family: sans-serif;
  text-align: center;
}
.table_main {
    /* border-top: 1px solid #d6d6d6 !important;  */
    /* border-right: 3px solid #d6d6d6 !important; */
    margin-bottom:30px ;
    width:100%
}
table tr:last-child th {
  background-color:#d2d9de !important ; font-weight: bold; 
  padding: 12px 15px 12px 25px !important;
}
.table_main td {
   
    border: 1px solid rgba(224, 224, 224, 1);
    border-top: 0;
  
    border-left: 0;
    padding: 12px 15px 12px 25px ;
    text-align: left;
}
.table_main caption {
  display: flex;
  font-weight: bold;
  color: rgb(10, 114, 133)
}
.table_main th {
  background: rgb(158, 243, 232);
  padding: 17px 15px 17px 25px;
  text-align: left;
  
}
table {
  width: 100%;
}
.box {
margin-bottom:23px;
}
.box select {
  background-color:#C7DBEE;
  padding: 12px;
  /* width: 60%;
  align-items: center;
  justify-content: center;
  text-align: center; */
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}
.box::before {
  content: "\f13a";
  font-family: FontAwesome;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}
.box:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}
.box select option {
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.2);
}
.date-section {
  display: flex;
justify-content: center;
margin-bottom: 30px;
}
.date-section select{
margin:5px;
padding: 10px;
border: 1px solid blue;
border-radius:3px;
}

.topControl {
display: flex;
border-bottom: 1px solid #ccc;
margin-top: 50px;
margin-left:10%;
}
.control {
display: flex;
width:500px;
flex-flow:row;
}
